.git
.github
.cache
__pycache__
*.pyc

venv
frontend/node_modules
frontend/dist

wsb_posts.json
wsb_data.sqlite3
wsb_training_data.jsonl
finbert_sentiment_cache.json
wsb-mistral-finetuned
wsb-mistral-finetuned2

tmp
